@font-face {
    font-family: 'Ade';
    src: url('AdeDisplay.woff2') format('woff2'),
        url('AdeDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

