.footer {
    background-color: $color-2;

    .section-title {
        padding-top: $whiteSpace;
        padding-bottom: $titleSpacing;

        .title{
            font-family: 'Lavish';
            color: $color-9;
            text-transform: capitalize;
            text-align: center;
        }
    }

    .main-row {
        align-items: center;
        padding-bottom: $whiteSpace;

        .left-col {
            color: $color-9;

            .title {
                font-weight: 600;
                padding-bottom: 10px;
            }
            .description{
                padding-bottom: 10px;
            }

            .button {
                .footer-btn {
                    background-color: $color-9;
                    color: $color-2;
                    font-weight: 700;
                    border-radius: 0px;
                    padding: 4px 18px;
                    transition: all 0.3s ease;

                    &hover{
                        background-color: $color-2;
                        color: $color-9;
                    }
                }
            }
        }

        .right-col {
            @include media-breakpoint-down(md) {
                padding-top: $headerWhiteSpace;
            }

            .footer-details {
                .card {
                    background-color: transparent;
                    border: unset;
                    border-radius: 0px;

                    .title {
                        font-weight: 600;
                        color: $color-9;
                        margin-bottom: 10px;
                    }

                    ul{
                        padding-left: 0;

                        li{
                            list-style: none;
                            padding-top: 2px;

                            &:first-child{
                                padding-top: 0;
                            }

                            a{
                                text-decoration: none;
                                color: $color-9;
                            }
                        }
                    }

                    .link-wrap {
                        a {
                            font-weight: 300;
                            color: $color-9;
                            text-decoration: none;

                            i {
                                font-size: 25px;
                            }
                        }
                    }
                }

                .contact_details{
                    .address{
                        color: $color-9;
                    }
                    .tel_wrapper{
                        padding-left: 0;
                        padding-top: 10px;
                        
                        .tel_item{
                            list-style: none;
                            font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (1920 - 320)));
                            color: $color-9;
                            display: flex;
                            justify-content: space-between;

                            @include media-breakpoint-down(md) {
                                justify-content: flex-start;

                                span{
                                    padding-right: 6px;
                                }
                            }

                            .tel{
                                text-decoration: none;
                                color: $color-9;
                                font-weight: 700;

                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .sm_wrapper{
                        padding-top: 10px;

                        .title{
                            color: $color-9;
                            font-weight: 600;
                            margin-bottom: 10px;
                        }
                        
                        .social-icon{
                            color: $color-9;
                            text-decoration: none;

                            &:hover{
                                
                                i{
                                scale: 1.1;
                                }
                            }

                            i{
                                font-size: calc(26px + (38 - 26) * ((100vw - 320px) / (1920 - 320)));
                                transition: all 0.3s ease;
                            }
                        }
                    }
                }
            }
        }
    }

    .site-info {
        text-align: center;
        padding-top: $titleSpacing;
        padding-bottom: $headerWhiteSpace;

        .info {
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
            color: $color-9;
            margin-bottom: 0px;

            a {
                font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
                color: $color-1;
                text-decoration: none;
            }
        }

    }
}